/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

public/css/app\.css

public/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular\.eot

public/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular\.svg

public/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular\.ttf

public/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular\.woff

public/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular\.woff2

public/js/app\.js

public/mix-manifest\.json
